$tan: #dfbf61;

body {
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  width: 8em;
  height: 3rem;
  
  border-color: $tan;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
}

@import "./welcome.pcss";
@import "./intro.pcss";
@import "./info.pcss";
